body,
html {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 0;
  margin: 0;
}

h2, h4 { 
  color: green;
  text-align: center;
  font-size: 200%;
}

p {
  color: greenyellow;
  font-size: 125%;
}

.yellow {
  color: yellow;
}

img {
  height: 50%;
  width: 50%;
}

iframe {
  width: 50%;
  height: 389px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

li {
  float: right;
}

li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.parallax {
  background-image: url('assets/MatrixBackground.jpeg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ASU {
  text-align: center;
}

.profile {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 9999px;
  height: 50px;
  width: 50px;
}
